#app
  border: 1px dotted red
  background-color black
  color white
  padding 30px

select
  width 130px

.title
  text-align center

.container
  display flex
  justify-content: center

.column_left
  padding 20px
  width 300px

.column_right
  padding 20px
  width 200px
  border 1px solid grey